  
* {
    background-color: #FBF6C3;
}


body {
    background-color: #E6DA9F;
    font-family: 'Lato', sans-serif;
}



pre {
    background-color: #f27777;
    font-size: 1.5em;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 25%;
}

.form-control[readonly] {
    color: black;
    margin: 5px;
    border: 20px;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}